{% load static %}
{#This is the name of the file#}
{% load filters %}
{% load tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <form action="{% url 'index' %}" method='get'>
        {{ form }}
        <button>Execute</button>
    </form>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'site.css' %}">
</head>
<body>
<nav>
    <a href="{% url 'index' %}">Go to index</a>
</nav>

{#Placeholder for child templates to use#}
{% block page_content %}
{% endblock %}
{% include 'partials/footer.html' %}
{% csrf_token %}
</body>
</html>
